{% extends "layout.twig" %}

{% block title %}{{ parent() }} | Accompagnement{% endblock %}

{% block content %}


    <div class="container">
        <div class="row">
            <section class="col-sm-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                L'accompagnement programmé, un service pratique, simple et régulier
                                pour pour faire voyager vos enfants en toute sécurité
                            </div>
                            <div class="panel-body">
                                <img class="pull-left" src="/img/tgv.gif">
                                Votre enfant doit se rendre chez votre conjoint (résidence alternée), rejoindre un
                                cousin, des amis ou un centre de vacances ... ConnecTravel vous propose de les
                                accompagner en train et TGV entre 2 villes les WE et vacances scolaires. Ces
                                accompagnements sont proposés à partir de 35 € par enfant.
                                Pour des raisons pratiques (voyager groupés), connecTravel (partenaire d'une agence de
                                voyages) fournit les billets de train qui sont facturés sans frais en tenant compte des
                                réductions dont bénéficient vos enfants.
                                <div class="col-lg-12">
                                    <div class="panel panel-success">
                                        <div class="panel-heading text-center">
                                            Quelques informations
                                        </div>
                                        <div class="panel-body">
                                            <img class="pull-right" src="/img/main.gif">
                                            <p>Le nombre d'enfants (à partir de 6 ans) est limité à 9 par
                                                accompagnateur.
                                                Les bagages sont portés par les enfants ... Ne les chargez pas.
                                                L'accompagnateur veille d'abord à la sécurité des enfants qui lui sont
                                                confiés. Il n'a pas vocation à occuper ou distraire les enfants même si
                                                leur bonne humeur y contribue.
                                                Pendant toute la durée de l'accompagnement, connecTravel organise une
                                                permanence téléphonique pour les parents et l'Assistant Voyageurs.
                                                Nous donnons RV 30 minutes avant le départ du train et à l'arrivée
                                                (descente du train ou point de RV dans la gare), L'accompagnateur confie
                                                les enfants aux personnes désignées contre une décharge écrite.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="panel panel-success">
                                        <div class="panel-heading text-center">
                                            Formalités d'inscription
                                        </div>
                                        <div class="panel-body">
                                            <img class="pull-right" src="/img/rail.gif">
                                            <p>Vous pouvez réserver par mail, télécopie ou téléphone (et bientôt sur
                                                notre site internet) en communiquant :
                                            <ul>
                                                <li>le nom, prénom, date de naissance de l'enfant à accompagner le type
                                                    de réduction dont bénéficie votre enfant (carte enfant +, carte
                                                    12/25, famille nombreuses ...)
                                                </li>
                                                <li>le nom, prénom, coordonnées postales, téléphoniques et mail de la
                                                    personne qui accompagnera l'enfant au départ
                                                </li>
                                                <li>le nom prénom, coordonnées postales, téléphoniques et mail de la
                                                    personne qui accueillera l'enfant à l'arrivée
                                                </li>
                                            </ul>


                                            La réservation est confirmée à réception du règlement (forfait
                                            accompagnement + billet de train) par chèque bancaire dans les 3 jours
                                            ouvrés. Au delà de ce délai, la réservation est annulée.
                                            ConnecTravel vous envoie ensuite un mail avec toutes les informations
                                            relatives au trajet de votre enfant :
                                            <ul>
                                                <li>heure et lieu de RV</li>
                                                <li>horaires départ et arrivée</li>
                                                <li>numéro de train et de voiture</li>
                                                <li>numéro d'urgence</li>
                                                <li>une copie du dossier de prise en charge à remettre (complété et
                                                    signé) à
                                                    l'Assistant(e) Voyageurs
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}