{% extends "layout.twig" %}

{% block title %}{{ parent() }} | Accompagnement{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <section class="col-sm-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                On a aimé..., on vous recommande !
                            </div>
                            <div class="panel-body">

                                <div class="col-lg-12">
                                    <div class="panel panel-success">
                                        <div class="panel-heading text-center">
                                            UNOSEL - Union National des Organisations de Séjours Educatifs,
                                            Linguistiques et des Ecoles de Langues
                                        </div>
                                        <div class="panel-body">
                                            <img class="pull-right" src="/img/unosel.gif">
                                            L'Unosel, créé en 78, est la plus importante Fédération regroupant des
                                            écoles de langues et des organisateurs de séjours linguistiques et éducatifs
                                            pour jeunes et adultes. Ses membres respectent des normes rigoureuses de
                                            qualité et de sécurité (norme européenne EN 14804) et sont contrôlés par des
                                            inspecteurs indépendants.
                                            L'Unosel vous conseille gratuitement.<br>
                                            <a href="http://www.unosel.org">http://www.unosel.org</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="panel panel-success">
                                        <div class="panel-heading text-center">
                                            SILC - Séjours Internationaux Linguistique & Culturels
                                        </div>
                                        <div class="panel-body">
                                            <img class="pull-right" src="/img/silc.gif">
                                            Primaire, collégien, lycéen, étudiant, adulte, professionnel...
                                            SILC vous propose de nombreuses formules partout dans le monde.
                                            Spécialiste du séjour linguistique depuis 45 ans, SILC met à votre service
                                            son savoir-faire et vous offre des garanties de qualité et de sécurité
                                            optimales.<br>
                                            <a href="http://www.silc.fr">http://www.silc.fr</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="panel panel-success">
                                        <div class="panel-heading text-center">
                                            EQUILINGUA - Des séjours linguistiques à prix très équitables pour TOUS
                                        </div>
                                        <div class="panel-body">
                                            <img class="pull-right" src="/img/logo_equitablement.jpg">
                                            Une aide et un conseil pour trouver le séjour linguistique le plus adapté à
                                            votre recherche.
                                            NOS SEJOURS SONT AU MEME TARIF QUE L 'ECOLE EN DIRECT, PAS DE SURPRISES
                                            Vous pourrez visiter les sites des écoles et voir que le tarif est le même.
                                            Une sacrée économie (-20% environ)
                                            Nous sommes des spécialistes des séjours linguistiques pour avoir visité
                                            beaucoup d'Ecoles dans le monde. Nous travaillons avec des écoles de langues
                                            qui ont la même optique que nous..<br>
                                            <a href="http://www.equitablementvotre.net">http://www.equitablementvotre.net</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="panel panel-success">
                                        <div class="panel-heading text-center">
                                            Annuaire enfants KIBODIO
                                        </div>
                                        <div class="panel-body">
                                            <img class="pull-right" src="/img/kibodio.gif">
                                            Site pour enfants adolescents parents
                                            Site pour enfants Kibodio, c'est tous les sites pour les enfants,
                                            adolescents,
                                            parents et famille. Une véritable sélection du meilleur du Net, des infos,
                                            des
                                            conseils et des astuces inédites à consulter sans tarder !<br>
                                            <a href="http://www.annuaire-enfants-kibodio.com">http://www.annuaire-enfants-kibodio.com</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="panel panel-success">
                                        <div class="panel-heading text-center">
                                            Poneys des quatres Saisons
                                        </div>
                                        <div class="panel-body">
                                            <img class="pull-right" src="/img/p4s.gif">
                                            Centres de vacances et classes de découvertes pour les enfants de 4 à 16
                                            ans.
                                            Au programme, classe verte, stages et séjour découverte, initiation aux
                                            activités et loisirs équestres, soins aux poneys, promenades, piscines,
                                            ateliers, sports mécaniques dans les campagnes de Bourguogne, à moins de
                                            deux heures de Paris.<br>
                                            <a href="http://www.p4s.fr">http://www.p4s.fr</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="panel panel-success">
                                        <div class="panel-heading text-center">
                                            STS, Confiance, Qualité & Responsabilité depuis 1958
                                        </div>
                                        <div class="panel-body">
                                            <img class="pull-right" src="/img/logo_sts.jpg">
                                            Membre de l'UNOSEL et certifié NF Service, STS Séjours Linguistiques propose
                                            des séjours linguistiques de qualité depuis plus de 50 ans.
                                            En immersion, en école de langues, au pair, en summer camp ou sur un campus
                                            universitaire, vous trouverez chez STS le séjour qui vous correspond, que
                                            vous soyez collégien, lycéen, étudiant, adulte ou professionnel.Numéro vert
                                            : 0800 02 51 51 (appel gratuit).<br>
                                            <a href="http://www.sts.fr/">http://www.sts.fr/</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
        </div>
        </section>
    </div>


{% endblock %}