{% extends "layout.twig" %}

{% block title %}{{ parent() }} | Accompagnement{% endblock %}

{% block content %}

    <div class="container">
        <div class="qsn">
            CONNECTRAVEL est une SARL au capital de 10500 € avec un siège social situé 442 route de Bordeaux, 16000
            Angoulême et enregistré au registre du commerce et des sociétés d'Angoulême sous le numéro 482 983 236
            00019.<br>

            CONNECTRAVEL est spécialisée dans l'orientation et l'assistance des passagers des trains, avions et
            transports publics en général. Nous proposons des prestations (conseils et réalisations) :
            correspondances dans les aéroports et gares pour tous les publics
            accompagnements train et avion d'enfants et adolescents
            prise en charge " Domicile / Aéroport ou Gare "
            aux organisateurs de vacances pour jeunes, opérateurs touristiques, sociétés d'assistance, sociétés de
            services et particuliers.<br>

            Les Assistants Voyageurs sont essentiellement des étudiants (âgés de 18 à 25 ans) recrutés ponctuellement
            (après sélection et entretien) par CONNECTRAVEL.<br>

            CONNECTRAVEL a souscrit auprès de Allianz une Responsabilité Civile Prestataires de Service (numéro
            40093501).<br>

            Laurent QUINET (46 ans) est gérant majoritaire de CONNECTRAVEL. Pendant plus de 10 ans il a occupé les
            fonctions de responsable logistique et transports d'un organisme leader de séjours linguistiques.
            Auparavant, il a travaillé plusieurs années pour des Tours Operator et en tant qu'agent général de
            compagnies aériennes et de chaînes d'hôtels.<br>
        </div>
    </div>

{% endblock %}