{% extends "layout.twig" %}

{% block content %}

    <!DOCTYPE html>
    <html>
    <head>
        <title>Recrutement</title>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <section class="col-sm-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                Réjoignez l'équipe d'accompagnateurs / assistants-voyageur de connectravel !
                            </div>
                            <div class="panel-body">
                                <div class="col-lg-12">
                                    <div class="panel panel-success">
                                        <div class="panel-heading text-center">
                                            Votre profil
                                        </div>
                                        <div class="panel-body">
                                            <ul>
                                                <li>Vous avez plus de 18 ans.</li>
                                                <li>Vous résidez à proximité d'une gare ou d'un aéroport.</li>
                                                <li>Vous souhaitez travailler ponctuellement pendant les vacances
                                                    scolaires, les week-ends et jours fériés pour compléter vos revenus.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="panel panel-success">
                                        <div class="panel-heading text-center">
                                            Le job
                                        </div>
                                        <div class="panel-body">
                                            Rejoignez l'équipe d'Assistants Voyageurs pour :
                                            <ul>
                                                <li>assister nos clients lors de leurs correspondances : avion + avion,
                                                    train + avion ou train + train...
                                                </li>
                                                <li>accompagner nos jeunes clients (essentiellement par train) entre 2
                                                    villes : de Lyon à Paris ou de Toulouse à Montpellier...
                                                </li>
                                                <li>accueillir des touristes et les orienter ou les accompagner jusqu'à
                                                    leur lieu d'hébergement
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="panel panel-success">
                                        <div class="panel-heading text-center">
                                            Caractéristiques du job
                                        </div>
                                        <div class="panel-body">
                                            Il s'agit de missions salariées (un CDD par mission) rémunérées sur la base
                                            du SMIC horaire.
                                            Le planning des missions évolue avec les commandes (qui peuvent être très
                                            tardives) de nos clients.
                                            Les missions sont proposées aux Assistants Voyageurs en fonction de leur :
                                            <ul>
                                                <li>lieu de résidence</li>
                                                <li>disponibilité</li>
                                            </ul>
                                            Les missions sont réglées, après réception du rapport de mission, les 15 et
                                            30 de chaque mois.
                                            Un bulletin de salaire récapitulant l'ensemble des missions est édité et
                                            envoyé une fois par mois.
                                            Vous pouvez postuler en ligne en vous <a href="">inscrivant</a> sur le site
                                            .
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </body>
    </html>

{% endblock %}