<!DOCTYPE html>

<html>
<head>
    <title>
        {% block title %}ConnecTravel{% endblock %}
    </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sb-admin-2.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/css/toastr.min.css">
    <link rel="stylesheet" href="/css/easy-autocomplete.css">
    <link rel="stylesheet" href="/css/easy-autocomplete.themes.css">
    <link rel="stylesheet" href="/css/perso.css">
    <link rel="stylesheet" href="/css/metisMenu.min.css">
    <script type="text/javascript" src="/js/metisMenu.min.js"></script>
    <script type="text/javascript" src="/js/sb-admin-2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Connectravel</a>
        </div>

        <ul class="nav navbar-top-links navbar-right in">
            <li class="dropdown">
                <a class="dropdown-toggle active" href=/accompagnements aria-expanded="false">
                    Accompagnements
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle active" href="/correspondance" aria-expanded="false">
                    Correspondances & transferts
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle active" href="/recrutement" aria-expanded="false">
                    Recrutement
                </a>
            </li>
            {% if session.role == 'admin' %}
            <li class="dropdown">
                <a class="dropdown-toggle active" href="/admin/user" aria-expanded="false">
                    Liste utilisateurs
                </a>
            </li>
            {% endif %}
            {% if (session.role == 'admin') or (session.role == 'companion') %}
            <li class="dropdown">
                <a class="dropdown-toggle active" href="/admin/mission" aria-expanded="false">
                    Liste Missions
                </a>
            </li>
            {% endif %}
            {% if (session.role == 'admin') or (session.role == 'companion') %}
            <li class="dropdown">
                <a class="dropdown-toggle active" href="/admin/user/profil" aria-expanded="false">
                    Profil
                </a>
            </li>
            {% endif %}
            {% if session['email'] is defined %}
            <li class="dropdown">
                <a class="dropdown-toggle active" href="/admin/user/logout" aria-expanded="false">
                    Deconnexion
                </a>
            </li>
            {% else %}
            <li class="dropdown">
                <a class="dropdown-toggle active" href="/admin/user/login" aria-expanded="false">
                    Connexion
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
{{ flash.message('error')[0] }}

{% block content %}
    {% block javascript %}
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/sb-admin-2.min.js"></script>
        <script type="text/javascript" src="/js/toastr.min.js"></script>
        <script type="text/javascript" src="/js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="/js/toastr.min.js"></script>
        <script type="text/javascript" src="/js/metisMenu.min.js"></script>
    {% endblock %}
{% endblock %}



</body>
{% block footer %}
    <footer>
        Ce site est déclaré à la CNIL sous les numéros 1135943 et 1135949. ||
        <a href="/qui-sommes-nous">Qui sommes nous ?</a>
        <a href="/liens">sites conseillés</a>
    </footer>
{% endblock %}

</html>





