{% extends "layout.twig" %}

{% block title %}{{ parent() }} | Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                Nos services
                            </div>
                            <div class="panel-body">
                                <p>Nous accompagnons vos enfants en TGV ou train les week-end & vacances scolaires.
                                </p>
                                <div class="row text-center"><a href="/accompagnements">Plus d'informations</a></div>
                                <br>
                                Nous assistons les enfants en correspondance dans les aéroports et gares.
                                <div class="row text-center"><a href="/correspondance">Plus d'informations</a></div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                Partenaire actif
                            </div>
                            <div class="panel-body">
                                <img src="img/unosel.gif">connecTravel est partenaire de
                                <a href="http://www.unosel.org/">l'Union National des Organisations de Séjours
                                    Educatifs, Linguistiques et des
                                    Ecoles de Langues</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                Nos coordoonnées
                            </div>
                            <div class="panel-body">
                                <p>ConnecTravel<br>
                                    31 rue de la Corderie
                                    16000 ANGOULEME<br>
                                    Tél. : 05 45 65 77 84<br>
                                    Fax : 05 24 84 59 16<br>
                                    <a href="mailto:contact@connectravel.com">contact@connectravel.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    Faites vos demandes de tarifs en ligne !
                                </div>
                                <div class="panel-body">
                                    <p>Pour obtenir des informations détaillées (horaires, conditions d'organisations,
                                        tarifs,
                                        ...) pour l'accompagnement de votre ou de vos enfant(s), nous vous invitons à
                                        compléter
                                        le formulaire d'étude personnalisée.
                                        Votre demande sera traitée dans un délai maximal de 24 heures (en dehors des
                                        week-ends
                                        et jours fériés) et vous recevrez une réponse par mail.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    CONNECTRAVEL, accompagnateur d'enfants
                                    au service des parents
                                </div>
                                <div class="panel-body">
                                    <p>Pour obtenir des informations détaillées (horaires, conditions d'organisations,
                                        tarifs,
                                        ...) pour l'accompagnement de votre ou de vos enfant(s), nous vous invitons à
                                        compléter
                                        le formulaire d'étude personnalisée.
                                        Votre demande sera traitée dans un délai maximal de 24 heures (en dehors des
                                        week-ends
                                        et jours fériés) et vous recevrez une réponse par mail.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    CONNECTRAVEL, accompagnateur d'enfants au service des organisateurs de vacances
                                    (tours
                                    opérateurs, associations, comités d'entreprises, collectivités ...)
                                </div>
                                <div class="panel-body">
                                    Avec des accompagnateurs et assistants voyageurs présents dans une trentaine
                                    d'agglomérations, CONNECTRAVEL organise pour les individuels et groupes des services
                                    :
                                    <ul>
                                        <li>d'accueil et formalités d'enregistrement et embarquement pour un départ
                                            avion
                                        </li>
                                        <li><a href="/accompagnements">d'accompagnement</a> en train (ou avion)</li>
                                        <li><a href="/correspondance">de correspondances</a> dans les gares et aéroports
                                        </li>
                                        <li>de transferts entre une adresse et une gare ou un aéroport</li>
                                    </ul>
                                    Avec CONNECTRAVEL, les organisateurs de vacances pour jeunes peuvent dynamiser leurs
                                    ventes en proposant aux parents une :
                                    <ul>
                                        <li>offre élargie de villes de départ et retour</li>
                                        <li>une assistance garantie pour les correspondances</li>
                                        sans investissement et sans recrutement. Les assistants voyageurs ou
                                        accompagnateurs
                                        opéreront sous les couleurs de l'organisateur de vacances.
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}