{% extends "layout.twig" %}

{% block content %}

    <head>
        <title>Inscription</title>
    </head>

    <div class="container">
        <header class="row">
            <div class="col-lg-12 col-lg-offset-4">
                <h1>Inscription</h1>
            </div>
        </header>
        <form action="" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" id="email">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <div class="form-group">
                <label for="password-confirm">Confirmation mot de passe</label>
                <input type="password" class="form-control" name="password-confirm" id="password-confirm">
            </div>
            <div class="form-group">
                <input type="hidden" name="__posted" value="1"/>
                <button type="submit" class="btn btn-primary pull-right">S'inscrire</button>
            </div>
        </form>
    </div>

{% endblock %}