{% extends "layout.twig" %}

{% block content %}
    <head>
        <title>addmission</title>
    </head>


    <div class="container">
        <header class="row">
            <div class="col-lg-12 col-lg-offset-1">
                <h1>Ajouter une mission</h1>
            </div>
        </header>
        <form action={{ path_for('addmission') }} method="post">
            <div class="row">
                <div class="form-group col-md-5">
                    <label for="place_departure">lieu de départ</label>
                    <input type="text" class="form-control" name="place_departure" id="place_departure">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-5">
                    <label for="place_arrival">lieu d'arrivée</label>
                    <input type="text" class="form-control" name="place_arrival" id="place_arrival">
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Valider">
                </div>
            </div>

        </form>
    </div>


{% endblock %}