{% extends "layout.twig" %}

{% block content %}

    <!DOCTYPE html>
    <html>
    <head>
        <title>Correspondance</title>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <section class="col-sm-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                Correspondances et transferts, nous aidons vos enfants
                                pour qu'ils voyagent en toute sécurité
                            </div>
                            <div class="panel-body">
                                Votre enfant peut voyager sans accompagnateur mais il a une correspondance avec un
                                changement de gare ou d'aéroport ...
                                Parce que vous avez du travail, un rendez-vous... vous ne pouvez accompagner (ou aller
                                chercher) votre enfant à la gare ou l'aéroport ...
                                <div class="col-lg-12">
                                    <div class="panel panel-success">
                                        <div class="panel-heading text-center">
                                            Correspondance
                                        </div>
                                        <div class="panel-body">
                                            <img class="pull-right" src="img/panneau.gif">
                                            L'accompagnateur accueille votre enfant à la sortie des passagers (avion) ou
                                            à la descente de voiture (train).
                                            Après s'être assuré que votre enfant est bien en possession de ses bagages,
                                            billets, pièces d'identités ... il l'accompagne et l'assiste :
                                            jusqu'à l'embarquement (et le départ) sur le vol en correspondance
                                            jusqu'au départ du train en correspondance

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="panel panel-success">
                                        <div class="panel-heading text-center">
                                            Transfert
                                        </div>
                                        <div class="panel-body">
                                            <img class="pull-right" src="img/panneau2.gif">
                                            L'accompagnateur vient à votre domicile (ou une adresse convenue) prendre en
                                            charge votre enfant. Il l'accompagne (transports en commun ou taxi) jusqu'à
                                            l'aéroport ou la gare de départ et reste sur place jusqu'au départ effectif
                                            de l'avion ou du train.Connectravel accompagne les enfants qui voyagent
                                            seuls lors de leur transfert
                                            Les accompagnateurs prennent en charge de 1 à 4 enfants par correspondance
                                            ou transfert avec une unique préoccupation : la sécurité. Quelques soient
                                            les aléas de transport (retard, ...), les accompagnateurs restent en
                                            compagnie des enfants jusqu'à la fin de leur mission. Pour les assister,
                                            CONNECTRAVEL met en place une astreinte téléphonique également à la
                                            disposition des parents. Quant aux bagages (obligatoirement étiquetés), ils
                                            sont portés par les enfants. Ne les chargez pas même si l'accompagnateur
                                            peut donner un coup de main.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="panel panel-success">
                                        <div class="panel-heading text-center">
                                            Tarifs & formalités d'inscription
                                        </div>
                                        <div class="panel-body">
                                            Les correspondances et transferts sont des services à la carte. Les tarifs
                                            varient en fonction de :
                                            <ul>
                                                <li>la durée de l'assistance</li>
                                                <li>des frais de transport s'il y en a</li>
                                                Pour connaître le tarif d'une prestation, vous pouvez nous contacter par
                                                mail, télécopie ou téléphone en communiquant :
                                                <li>le nom, prénom, date de naissance de l'enfant à accompagner le type
                                                    de
                                                    réduction dont bénéficie votre enfant (carte enfant +, carte 12/25,
                                                    famille nombreuses ...)
                                                </li>
                                                <li>Date de l'opération</li>
                                                <li>Les informations sur l'origine : Gare ou Aéroport, N° train ou vol,
                                                    Provenance, Heure d'arrivée, Heure de prise en charge
                                                </li>
                                                <li>Les informations sur la destination : Gare ou Aéroport, N° train ou
                                                    vol,
                                                    Destination, Heure départ
                                                </li>
                                                <li>Vos cordonnées complètes</li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </body>
    </html>

{% endblock %}